{% load static %}
{% block css %}
<link href="{% static 'base/css/nav.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">R4C</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'store:catalog' %}">Каталог роботов</a>
                </li>
            {% if user.is_authenticated %}
                {% if user.role == user.ADMIN%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'store:add_product' %}">Выставить робота на продажу</a>
                </li>
                {% elif user.role == user.DIRECTOR%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'management:management' %}">Отчеты</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span>{{ user.email }}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                    </ul>
                </li>
            {% endif %}
            </ul>
            </ul>
        </div>
    </div>
</nav>
{% endblock content %}