{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link href="{% static 'users/css/registration.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                 style="margin-top: 50px;">
                {{ form.errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Регистрация</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'users:registration' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.email.auto_id }}">Адрес электронной почты</label>
                            {{ form.email }}
                            <label class="small mb-1" for="{{ form.name.auto_id }}">Имя</label>
                            {{ form.name }}
                            <label class="small mb-1" for="{{ form.role.auto_id }}">Должность</label>
                            {{ form.role }}
                        </div>
                        <div class="form-group d-grid gap-2" style="margin-top: 20px;">
                            <input class="btn btn-primary" type="submit" value="Отправить запрос на создание аккаунта">
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a href="{% url 'users:login' %}">Уже есть аккаунт? Авторизоваться</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}